html {
  scroll-behavior: smooth;
}

body {
  background-color: #1f2232;
  color: #e3bac6;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

nav {
  display: flex;
  flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #1f2232;
}

ul {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding: 0 3rem;
}

li {
  list-style: none;
  display: flex;
  cursor: pointer;
  font-weight: 600;
  padding: 4px;
}

ul a {
  text-decoration: none;
  color: #e3bac6;
}

li:hover {
  color: #dd7896;
}

header {
  height: 700px;
  width: 100%;
}

.background {
  background: rgba(31, 34, 50, 0.8);
  background-image: url("../images/cover-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  height: 700px;
}

header h1 {
  font-size: 55px;
  text-align: center;
  color: #dd7896;
  margin: 0;
  padding-top: 300px;
}

.sobre {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 3%;
  flex-wrap: nowrap;
  /* background-color: #ffffff; */
}

section img {
  width: 300px;
  height: 300px;
}

section img:hover {
  width: 320px;
  height: 320px;
}

.main__sobre {
  width: 100%;
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.main__sobre__img {
  width: 300px;
  height: 300px;
  margin: 0;
}

.main__sobre__p {
  width: 700px;
  height: 300px;
  margin: 0;
}

main p {
  text-align: justify;
  margin: 10px;
  font-size: 22px;
}

.banner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.box {
  /* width: 33, 3%; */
  margin: 20px 10px;
  border: 1px solid #cfcfcf;
  background-color: #ffffff;
  border-radius: 12px;
  height: 400px;
  width: 380px;
}

.box:hover {
  border: 3px solid #dd7896;
}

.box h6 {
  font-size: 24px;
  text-align: center;
  margin: 0;
  letter-spacing: 2px;
}

.box h6:hover {
  color: #dd7896;
}

.box p {
  padding: 8px;
  font-size: 20px;
}

.icone {
  font-size: 60px;
  padding: 10% 42%;
}

.icones {
  font-size: 60px;
  padding: 10% 41%;
}

.icon {
  font-size: 60px;
  padding: 10% 40%;
}

.icone:hover,
.icones:hover,
.icon:hover {
  color: #dd7896;
}

.Portfólio {
  /* background-color: #fff6f9; */
  width: 100%;
}

.Portfólio h2 {
  font-size: 38px;
  text-transform: uppercase;
  padding-left: 4px;
  padding-right: 4px;
}

.portfolio__title {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.linha {
  height: 1px;
  width: 300px;
  color: #e3bac6;
  background-color: #e3bac6;
}

.section__portfolio {
  width: 100%;
}

footer {
  text-align: center;
  padding-bottom: 20px;
  opacity: 0.6;
}

.footer__p {
  letter-spacing: 2.5px;
  font-size: 16px;
}

footer i {
  font-size: 25px;
  padding-right: 15px;
  color: #e3bac6;
}

footer i:hover {
  color: #dd7896;
}

@media (max-width: 720px) {
  ul {
    width: 100%;
  }

  header {
    height: 200px;
    width: 100%;
    padding-bottom: 0;
  }

  header h1 {
    font-size: 35px;
  }

  main img {
    width: 200px;
    height: 200px;
    text-align: center;
    align-self: center;
  }

  section {
    width: 100%;
    padding-top: 0;
  }

  main p {
    font-size: 14px;
  }

  .main__sobre {
    width: 100%;
    flex-wrap: wrap;
  }

  .main__sobre__img {
    width: 200px;
    height: 240px;
    margin: 2px;
  }

  .Portfólio h2 {
    font-size: 26px;
  }

  footer i {
    font-size: 22px;
  }

  .footer__p {
    letter-spacing: 1.5px;
    font-size: 13px;
  }
}

/* @media (min-width: 721px) (max-width: 992px){ 
    .main__sobre {
        width: 100%;
        flex-wrap: wrap;
      }
    
      .main__sobre__img {
        width: 200px;
        height: 240px;
        margin: 2px;
      }
    
}*/
