body {
  background-color: #1f2232;
  color: #e3bac6;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

nav {
  display: flex;
  flex-direction: column;
}

ul {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding: 0 3rem;
}

li {
  list-style: none;
  display: flex;
  cursor: pointer;
  font-weight: 600;
  padding: 4px;
}

li:hover {
  color: #dd7896;
}

header {
  padding: 10%;
}

header h1 {
  font-size: 50px;
  text-align: center;
}

main p {
  text-align: justify;
  margin: 0;
}

footer {
  text-align: center;
}

footer i {
  font-size: 25px;
  padding-right: 12px;
  color: #e3bac6;
}

footer i:hover {
  color: #dd7896;
}

@media (max-width: 720px) {
  ul {
    width: 100%;
  }

  footer i {
    font-size: 22px;
  }
}
