body {
  background-color: #1f2232;
  color: #e3bac6;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

nav {
  display: flex;
  flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #1f2232;
}

ul {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding: 0 3rem;
}

li {
  list-style: none;
  display: flex;
  cursor: pointer;
  font-weight: 600;
  padding: 4px;
}

li:hover {
  color: #dd7896;
}

header {
  padding: 10%;
  background-image: url("/images/cover-image.png");
}

header h1 {
  font-size: 50px;
  text-align: center;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 3%;
}

main img {
  width: 300px;
  height: 300px;
}

.main__sobre {
  width: 500px;
  height: 300px;
  font-size: 20px;
}

main p {
  text-align: justify;
  margin: 0;
}

footer {
  text-align: center;
  padding-bottom: 20px;
  opacity: 0.7;
}

.footer__p {
  letter-spacing: 3px;
  font-size: 18px;
}

footer i {
  font-size: 25px;
  padding-right: 15px;
  color: #e3bac6;
}

footer i:hover {
  color: #dd7896;
}

@media (max-width: 720px) {
  ul {
    width: 100%;
  }

  footer i {
    font-size: 22px;
  }
}
